body {
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin: 5%;
  background-color: hsl(0, 0%, 98%);
}

/* Para for body and cards */

p {
  color: gray;
}

/* Heading Section  */

.heading-one {
  font-weight: 200;
}

.heading-two {
  font-weight: 600;
}

.heading-description {
  width: 45%;
  margin: 0 auto;
}

/* Card Section */

.card-section {
  padding-top: 3rem;
  text-align: left;
}

.card {
  background-color: white;
  padding: 2rem;
  border-width: 5px;
  border-radius: 7px;
  box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.25);
}

.card-icon {
  height: 20%;
  width: 25%;
  align-self: flex-end;
  padding-top: 40px;
}

/* First Column */

.first-col {
  border-color: hsl(180, 62%, 55%) white white white;
  position: relative;
  top: 200px;
}

/* Second Column */
.second-col-one {
  border-color: hsl(0, 78%, 62%) white white white;
}

.second-col-two {
  border-color: hsl(34, 97%, 64%) white white white;
  margin-top: 2rem;
}

/* Third Column */

.third-col {
  border-color: hsl(212, 86%, 64%) white white white;
  position: relative;
  top: 200px;
}

/* Media Queries  */

@media (max-width: 900px) {
  body {
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin: 5%;
    background-color: hsl(0, 0%, 98%);
    padding: 10% 0;
  }

  .first-col {
    border-color: hsl(180, 62%, 55%) white white white;
    position: relative;
    top: 0px;
  }

  .third-col {
    border-color: hsl(212, 86%, 64%) white white white;
    position: relative;
    top: 0px;
  }
  .heading-description {
    width: 100%;
    margin: 0 auto;
  }
}
